/* =================================================================================
   💻 Desktop
================================================================================= */

@media (min-width: 1200px) {

  .controls-left {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    gap: 8px;
    align-items: center;
  }

}
